<html>
<head>
    <title>{{ dept_name }}</title>
</head>
<body>
    <h1>{{dept_name}} Classes</h1>
    <form action="/study_buddy_app/user/edituser/deptlist">
        <input type="submit" value="Departments" />
    </form>
    <form action="/study_buddy_app/user/edituser/addclass" method="post">
    {% csrf_token %}
    <fieldset>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for class in response %}
            <input type="radio" name="class" id="class{{ forloop.counter }}" value="{{ class.pk }}">
            <label for="class{{ forloop.counter }}">{{ class.subject }} {{ class.catalog_number }} -- Section {{ class.course_section }}</label><br>
            <br>
        {% endfor %}
        <br>
        </fieldset>
        <input type="submit" value="Add Class">
    </form>
</body>
</html>