{% load socialaccount %}
<html>
<head>
    <title>{{ dept_name }}</title>

</head>
<body>
    <h1>{{dept_name}} Classes</h1>
    <form action="/study_buddy_app/user/edituser/deptlist">
        <input type="submit" value="Departments" />
    </form>
    <form action="/study_buddy_app/user/edituser/dept/{{ dept_name }}/addclass" method="post">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for class in response %}
            <input type="hidden" name="username" id="username" width="100px" value="{{user.id}}"/>
            <input type="radio" name="class" id="class{{ forloop.counter }}" value="{{ class.id }}">
            <label for="class{{ forloop.counter }}">{{ class.subject }} {{ class.catalog_number }} -- Section {{ class.course_section }}</label><br>
            <br>
            <!-- <strong>{{ dept_name }} {{ i.catalog_number }} -- {{ i.description }}</strong>
            <p>Section: {{i.course_section}}</p>
            <p>Instructor: {{ i.instructor.name }}</p> -->
            <!-- <p>Times: {{i.meetings}} {{i.meetings.start_time}}-{{i.meetings.end_time}}</p> -->
        {% endfor %}
        <br>
        <input type="submit" value="Add Class">
    </form>
</body>
</html>

