{% load socialaccount %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}
{% bootstrap_javascript %}


<style>
	.page_style{
		width: 300px;
   		height: 300px;
   		position: absolute;
   		left: 50%;
   		top: 20%; 
   		margin-left: -150px;
   		margin-top: -150px;
	}
</style>

<div class="page_style">
    <div class="modal fade" tabindex="-1" id="profileModal" role="dialog">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">
		      	<div class="modal-header">
			        <h5 class="modal-title">Edit Profile</h5>
		        </div>
		        <div class="modal-body">
					<h4>My Classes:</h4>
					<a href="/study_buddy_app/user/edituser/deptlist"><button>Add a Class</button></a>
					{% for c in classes %}
						<!-- <li>{{ class.subject }} {{ class.catalog_number }} -- Section {{ class.course_section }}</li> -->
						<li>{{ c }}</li>
					{% endfor %}
					<br>
			        <form method="post">
			          	{% csrf_token %}
			          	{{ user_form|crispy }}
		        </div>
		      	<div class="modal-footer">
		        		<button type="submit" class="btn btn-primary">Save changes</button>
		        	</form>
					<a href="/study_buddy_app/user/"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></a>
		        </div>
		    </div>
	  	</div>
	</div>
</div>