{% load socialaccount %}

<html>
  <head>
    <title>Study Buddy Finder</title>
  </head>
  <body>

  <h1> Welcome to the Home Page</h1>


  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} !</p>
  <form action="/study_buddy_app/logout">
    <input type="submit" value="Logout" />
  </form>

  <!--form action="/study_buddy_app/user/">
    <input type="submit" value="go to profile" />
  <form-->

  {% else %}
  <form action="/study_buddy_app/sign_in/">
    <input type="submit" value="Sign In" />
  </form>
  {% endif %}


  </body>
</html>