{% load socialaccount %}

<html>
  <head>
    <title>Study Buddy Finder</title>
  </head>
  <body>

  <h1> Welcome to the Home Page</h1>

  {% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} !</p>
  <form action="https://study-buddy-finder-b11.herokuapp.com/study_buddy_app/logout">
    <input type="submit" value="Logout" />
  </form>

  {% else %}
  <form action="https://study-buddy-finder-b11.herokuapp.com/study_buddy_app/sign_in/">
    <input type="submit" value="Sign In" />
  </form>
  {% endif %}

  <form action="/study_buddy_app/deptlist">
    <input type="submit" value="View Courses" />
  </form>

  </body>
</html>