{% load socialaccount %} 
{% load bootstrap5 %} 
{% bootstrap_css %} 
{%bootstrap_javascript %}
<!--
<html>
  <head>
    <title>Study Buddy Finder</title>
  </head>

  {% if user.is_authenticated %}
  <header>
    
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: rgba(0, 0, 0, 0.1)"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/home/">Chat</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/deptlist/"
                >Course List</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/user/">User Info</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/searchResults/"
                >Search Users</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/calendar/">Calendar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% else %}
  <header>
  
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: rgba(0, 0, 0, 0.1)"
    >
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/study_buddy_app/deptlist/"
                >Course List</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {% endif %}

  <body class="d-flex flex-column min-vh-100">
    <h1 class="text-center">Welcome to the Home Page</h1>

    {% if user.is_authenticated %}
    <p class="text-center">Welcome, {{ user.username }} !</p>
    <div class="text-center">
      <form action="/study_buddy_app/logout">
        <input type="submit" value="Logout" />
      </form>
    </div>
    {% else %}
    <div class="text-center">
      <a href="{% provider_login_url 'google' %}">Login with Google</a>
    </div>
    {% endif %}
  </body>

  <footer class="text-center text-lg-start bg-light text-muted mt-auto">
    <div class="text-center p-3 me-5 d-none d-lg-block">
      <span
        >Page Authors: Ana Borges, Bao Nguyen, Evan Tierney, Natasha Mathew, and
        Holden Present</span
      >
    </div>
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2022 Copyright: None
    </div>
  </footer>
</html> -->


<html lang="en" class="h-100"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.104.2">
  <title>Study Buddy App</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cover/">

  

  

<link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">


  <style>

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }


    .overlay{
        background-color: black;
        opacity: .5;
        
    }
  </style>

  
  <!-- Custom styles for this template -->
  <link href="cover.css" rel="stylesheet">

  <link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>

</head>

{% load static %}

<link rel="stylesheet" href="{% static 'study_buddy_app/style.css' %}">

<body class="d-flex h-100 text-center text-bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

<header class="mb-auto">
  <div>
    <nav class="nav nav-masthead  float-md-start bg-dark navbar-dark">
      {% if user.is_authenticated %}
      <a class="nav-link fw-bold active" style="color: white;" href="/study_buddy_app/">Home</a>
      <a class="nav-link fw-bold" style="color: white;" href="/study_buddy_app/home/">Chat</a>
      <a class="nav-link fw-bold" style="color: white;" href="/study_buddy_app/deptlist/">Course List</a>
      <a class="nav-link fw-bold" style="color: white;" href="/study_buddy_app/user/">User Info</a>
      <a class="nav-link fw-bold" style="color: white;" href="/study_buddy_app/searchResults/">Search Users</a>
      <a class="nav-link fw-bold" style="color: white;" href="/study_buddy_app/calendar/">Calendar</a>
      {% endif %}
    </nav>
  </div>
</header>


<main class="px-3">
  <h1 style="color: white; margin-left: 37%; margin-right: 37%;">Study Buddy Finder</h1>
  {% if user.is_authenticated %}
  <p class="lead">
    <a href="/study_buddy_app/logout" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color: black;">Logout</a>
  </p>
  {% else %}
  <p class="lead">
    <a href="{% provider_login_url 'google' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white" style="color: black;">Sign In</a>
  </p>
  {% endif %}
</main>

<footer class="mt-auto">
</footer>
</div>


  

</body>

</html>