{% load crispy_forms_tags %}
{% load ratings %}

	<br><br>
	<div class="container mx-auto">
	    <div class="row">
	    	<div class="col-sm-12 col-md-12 col-lg-3 pb-4">
		    	<div class="card p-4">
                    <hr>
			    	<div class="card-text">
			    		<p class="text-muted mb-0" style="font-size: 12px">Username:</p>
			    		<p>{{ object.user.username }}</p>
			    		<p class="text-muted mb-0" style="font-size: 12px">Name:</p>
				  		<p>{{ object.user.first_name }} {{ object.last_name }}</p>
				  		<p class="text-muted mb-0" style="font-size: 12px">Email:</p>
				  		<p>{{ object.user.email }} </p>
						<p class="text-muted mb-0" style="font-size: 12px">Classes:</p>
						<p>{{ object.classes.subject }} </p>
						{% load static %}
						<p> Rate me as a Study Buddy!</p>
						{% ratings object.user %}
						<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
						<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
			        </div>
		    	</div>
		  	</div>
		    <div class="col-sm-12 col-md-12 col-lg-9 pb-4">
		    </div>
		</div>
	</div>